############################
# Terraform / IaC (CRITICAL)
############################
*.tfstate
*.tfstate.backup
*.plan
.terraform/
.terraform.lock.hcl
infra/terraform.tfstate*
infra/.terraform/

############################
# Node / Frontend
############################
node_modules/
.node_modules/
.npm/
package-lock.json
.env.local

############################
# OS / Shell
############################
.DS_Store
.bash_history
.bashrc
.profile
.wget-hsts

############################
# Docker / Kubernetes / Cloud
############################
.docker/
.kube/
.gsutil/
.aws/
.vault-token

############################
# Secrets / Credentials
############################
*.key
*.pem
*.pub
.git-credentials
.password-store/
.gnupg/
.ssh/

############################
# Logs / Caches
############################
logs/
.cache/
.local/

############################
# Archives
############################
*.zip

############################
# External repos / workspaces
############################
repos/
stc-*
securethecloud/
multi-cloud-*
trumindpsych-*
united-airline-*

############################
# Build artifacts
############################
lambda_functions/
src/lib/
